.flex {
    display: flex;
  }
  .flex-row {
    flex-direction: row;
  }
  .align-item-center {
    align-items: center;
  }
  .justify-content-center {
    justify-content: center;
  }
  .border {
    border: 1px solid #252020;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-around {
    justify-content: space-around;
  }
  
  .body-container {
    height: 85%;
    overflow-y: auto;
  }
  
  .body-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252020;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
  }
  
  .dicover-products-text {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  .dicover-products-text-para {
    width: 100%;
  }
  
  .body-filter-header-container {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .filter-button {
    background-color: transparent;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .recommended-filter {
    width: 50%;
    font-size: 16px;
    background: transparent;
    border: 0;
    outline: none;
    font-weight: 600;
    cursor: pointer;
  }
  
  .recommended-filter > option {
    background: transparent;
  }
  @media screen and (min-width: 320px) {
    .dicover-products-text-para {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 500px) {
    .dicover-products-text {
      font-size: 24px;
    }
    .dicover-products-text-para {
      width: 70%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .dicover-products-text {
      font-size: 28px;
    }
    .dicover-products-text-para {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 900px) {
    .dicover-products-text {
      font-size: 28px;
    }
    .dicover-products-text-para {
      width: 30%;
    }
  }